.vscode/**
.vscode-dev/**
scripts/**
config/**
docs/**
.vscode-test/**
out/**
node_modules/**
src/**
external/**
.gitmodules
.agents/**
AGENTS.md
test/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
